<div class="container">
  <div class="row">
    <div class="col">

    </div>

    <div class="col-md-10 ">


      <div class="card " style="height: 600px;  overflow: scroll;">
        <div class="card-header">
          Chat room topic is : {{topic}}
        </div>


        <div class="card-body">

          <ul class="list-group list-group-flush" *ngFor="let message of messages">
            <li class="list-group-item">{{message}}</li>

          </ul>


        </div>


      </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="sendMessage(message)">Send</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
          aria-describedby="button-addon1" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()">
      </div>

    </div>



    <div class="col">

    </div>
  </div>
</div>
